.body {
    background-image: url('images/Background.jpg');    
    min-height: 100%;
    background-size:cover;
    background-color: chocolate;
}

.p{
    font-size: 20px;
}

.li{
    font-size: 20px;
}